	<div class="jumbotron jumbotron-image">
		<div class="container">
			<div class="page-header header-minus-border">
        <div class="col-md-9">
          <h1 style="color: #1E503E;" class="header-h1">Hilltop Kennels</h1>
          <p><%= link_to "Learn more", page_path(Page.find_by(title: "About Us").id), class: "btn call-to-action-btn btn-lg" %></p>
        </div>
        <div class="col-md-offset-9 col-md-3">
          <h4 style="color: white;">Be sure to follow us on </h4>
          <%= link_to "https://www.facebook.com/HilltopKennelsIowa/" do %>
            <%= fa_icon("facebook-square 4x", class: 'facebook-icon') %>
          <% end %>
        </div>
			</div>

		</div>
	</div>
<div class="container welcome-container">
	<div class="page-header body-container col-md-8">
  		<h1>Welcome to Hilltop Kennels!<br/><small>A premier kennel dedicated to providing the absolute best for your pet.</small></h1>
  		<p> Hilltop Kennels is one of the finest boarding and daycare facilities in Cedar Rapids, Iowa. <br/><br />
      We are located at 1403 Wilson Ave. SW, just ten minutes from the Eastern Iowa Airport. The kennel sits on six beautiful acres with a lakeside view.
      We provide a private indoor/outdoor run for each dog and separate area for boarding cats. <br/><br />

      <span style="font-style: italic;">Our mission is to provide a safe, clean, and enjoyable environment for all animals entrusted to our care.</span><br /><br />
      MAKE YOUR RESERVATIONS TODAY - your pet will thank you for it!  Call 319-363-1054 to inquire or reserve. <br/><br />
  		</p>
      <hr>
      <h3>HEAR WHAT HILLTOP KENNELS CUSTOMERS ARE SAYING: <br /><br /></h3>
      <div class="row">
        <div class="col-md-12 well">
          We LOVE Hilltop Kennels!  I've been boarding dogs at Hilltop Kennels for more than 22 years.  Indoor and outdoor areas in their clean, roomy kennels
          give dogs room to move around.  They even offer extra playtime with the animals which I love.  It gives the dogs more attention and interaction
          while away from home.  My Lab has a large variety of allergies and can't have a number of foods/toy materials common to most dogs.  Everyone
          is helpful and careful to avoid those things.  They ensure he receives his medication as required.  No one could ask for more friendly,
          caring owners and staff!
          <div class="row">
            <div class="col-md-offset-9 col-md-3">
              <strong>Chris B., Cedar Rapids</strong>
            </div>
          </div>
        </div>
        <div class="col-md-12 well">
          Twelve years ago we adopted Sophie. Because we traveled often, we knew we would need to find her a "home away from home". We sure did when we started taking her to Hilltop Kennels! In the beginning I would feel guilty leaving her behind, then I realized she loved it! She would get so excited when we told her she was going to her 'spa'. Enroute to the kennel she knows when we turn left on Wilson Ave. we are close, and she starts getting excited. By the time we are there, she's so ready to get out of the van that she'll climb over us to get to the door if we take too long. After we walk around the beautiful property we check-in and she doesn't look back (even though I want her to). Regardless of how long her 'vacation' is, when I go to pick her up we'll go outside, walk around (again) and then she goes back to their door! At first that hurt, but then I realized that she loved it there.

          I know when she is there, she is cared for like she is one of their own. They have always gone the 'extra mile' for us, and I honestly don't know what I would do without them!
          <div class="row">
            <div class="col-md-offset-9 col-md-3">
              <strong>Kim W., North Liberty</strong>
            </div>
          </div>
        </div>
        <div class="col-md-12">
          <p><%= link_to "Read more testimonials", page_path(Page.find_by(title: "Testimonials").id), class: "btn call-to-action-btn btn-lg" %></p>
        </div>
      </div>
	</div>
	<div class="row">
	  <div class="col-sm-6 col-md-4 sidebar-div">
	    <div class="thumbnail thumbnail-custom">
	      <%= image_tag("camp_hilltop.png") %>
	      <div class="caption">
	        <h3>RESERVE NOW</h3>
	        <p>We offer spacious, climate-controlled playrooms that are 100% fully supervised. We fill up quickly.</p>
	        <p><%= link_to "Reserve", page_path(Page.find_by(title: "Reservations").id), class: "btn btn-teal" %>
             <%= link_to "More Info", page_path(Page.find_by(title: "About Us").id), class: "btn btn-yellow" %>
          </p>
	      </div>
	    </div>
      <div class="fb-page" data-href="https://www.facebook.com/HilltopKennelsIowa/" data-tabs="timeline" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/HilltopKennelsIowa/" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/HilltopKennelsIowa/">Hilltop Kennels</a></blockquote></div>

    </div>
	</div>
</div>

