<div class="container page-container">
    <div class="jumbotron">
      <h1>Hello, Admin!</h1>
      <p>You can create the page that will display when a navigation item is clicked. (pages: for example, Home, About Us, Hours & Location).</p>
      <p><%= link_to "Create New Page", new_page_path, class:"btn btn-yellow" %></p>
    </div>
    <div class="panel panel-default admin-table">
      <!-- Default panel contents -->
      <div class="panel-heading">Your Existing Pages</div>
      <div class="panel-body">
        <p>Here, below, you can view and edit all the pages that are already created.</p>
      </div>

      <!-- Table -->
      <table class="table">
        <tr>
          <th>
            Page Title
          </th>
          <th>
            Edit Page
          </th>
          <th>
            View Page
          </th>
          <th>
            Delete Page
          </th>
        </tr>
        <% @pages.each do |p| %>
          <tr>
            <td>
              <%= p.title %>
            </td>
            <td>
              <%= link_to "Edit", edit_page_path(p), class: "btn btn-default", method: :get %>
            </td>
            <td>
              <%= link_to "View", page_path(p), class: "btn btn-default", method: :get %>
            </td>
            <td>
              <%= link_to "Delete", page_path(p), method: :delete, data: {confirm: "Are you sure?"}, class: "btn btn-danger" %>
            </td>
          </tr>
        <% end %>
      </table>
    </div>
</div>