<div class="container page-container">
  <div class="col-md-12">
    <% if @page.title == "About Us" %>
        <%= image_tag("employees.jpg", :style => "height: 400px; width: 700px;") %>
    <% elsif @page.title == "Boarding" %>
        <%= image_tag("pond.png", :sytle => "height: 400px; width: 700px") %> <br />
        <%= image_tag("kennels.JPG", :style => "height: 400px; width: 700px") %>
    <% elsif @page.title == "Daycare" %>
        <%= image_tag("daycare.JPG", :sytle => "height: 400px; width: 700px") %><br />
        <%= image_tag("daycareoutside.jpg", :style => "height: 400px; width: 700px") %><br />
        <%= image_tag("daycareinside.jpg", :style => "height: 400px; width: 700px") %>
    <% elsif @page.title == "Hours & Location" %>
        <%= image_tag("hilltopbuilding.jpg", :style => "height: 400px; width: 700px") %>
    <% elsif @page.title == "Grooming" %>
        <%= image_tag("groom room.jpg", :sytle => "height: 400px; width: 700px") %><br />
        <%= image_tag("groom.jpg", :style => "height: 400px; width: 700px") %>
    <% elsif @page.title == "Doggie Shuttle" %>
        <%= image_tag("bus2.jpg", :sytle => "height: 400px; width: 700px") %>
  <% end %>
  </div>
  <div class="fr-view">
    <%= @page.body.html_safe %>
  </div>
</div>

<div class="container contact-us-container">
  <h2>Contact Us</h2>
  <%= form_tag(contacts_form_path, :method => 'post', :class => 'contact-us') do %>
      <div class="form-group">
        <label for="exampleInputPassword1">Name</label>
        <%= text_field_tag 'name', nil, {placeholder: "Name", class: "form-control", :required => 'required'} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Email address</label>
        <%= text_field_tag 'email', nil, {placeholder: "Email", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Phone number</label>
        <%= text_field_tag 'phone', nil, {placeholder: "Phone", class: "form-control"} %><br />
      </div>
      <div class="form-group">
        <label for="exampleInputEmail1">Question or Comment</label>
        <%= text_area_tag 'question', nil, {placeholder: "Question or Comment", class: "form-control"} %><br />
      </div>
      <%= submit_tag "Submit", class: 'btn btn-md btn-default' %>
  <% end %>
</div>
