<!DOCTYPE html>
<html>
<head>
  <title>HilltopKennels</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
		<div class="container"> 
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Hilltop Kennels</a>
			</div>
			<div class="navbar-collapse collapse"> 
				<ul class="nav navbar-nav navbar-right">
					<li class="active"><a href="#">Home</a></li> 
						<%  @navigation_items = NavigationItem.all %>
							<% @navigation_items.each do |n| %>
								<% if n.pages.count <= 1 %>
									<li><a href="#"><%= n.title %></a></li>
								<% elsif n.pages.count > 1 %>
									<a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= n.title %><b class="caret"></b></a>
										<ul class="dropdown-menu">
										  <% n.pages.each do |p| %>
											<li><a href="#"><%= link_to p.title, page_path(p) %></a></li>
										  <% end %> 
										</ul>
								<% end %> 
						<% end %>	
				</ul>
			</div>
		</div>
	</div>



<%= yield %>

</body>
<nav class="navbar navbar-default navbar-static-bottom">
  <div class="container">
  	<ul class="nav navbar-nav navbar-right">
    	<li><a href="#">1403 Wilson Ave SW ~ Cedar Rapids, IA</a></li>
    	<li><a href="#">Google Map</a></li>
    	<li><a href="#">(319) 363-1054</a></li>
    	<li><a href="#">10 Minutes from the Eastern IA Airport</a></li>
    	<li><a href="#">Hilltop Kennels © 2016 - State Licensed and Insured</a></li>
	</ul>
  </div>
</nav>
</html>
