<!DOCTYPE html>
<html>
<head>
  <title>HilltopKennels</title>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link href="https://fonts.googleapis.com/css?family=Itim" rel="stylesheet">
  <link href="https://fonts.googleapis.com/css?family=Shrikhand" rel="stylesheet">
</head>
<body>
	<div class="navbar navbar-default navbar-fixed-top" role="navigation"> 
		<div class="container"> 
			<div class="navbar-header"> 
				<button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-collapse"> 
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#">Hilltop Kennels</a>
			</div>
			<div class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
          <% if user_signed_in? && current_user.admin? %>
            <li class="active"><%= link_to "Home", root_path %></li>
              <%  @navigation_items = NavigationItem.all %>
                <% @navigation_items.each do |n| %>
                  <% if n.pages.count == 1 %>
                    <% page = n.pages.first %>
                    <li><%= link_to page.title, page_path(page), class: "#" %> </li>
                  <% elsif n.pages.count < 1 %>
                    <li><a href="#"><%= n.title %></a></li>
                  <% elsif n.pages.count > 1 %>
                    <li><a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= n.title %><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <% n.pages.each do |p| %>
                        <li><a href="#"><%= link_to p.title, page_path(p) %></a></li>
                        <% end %>
                      </ul>
                    </li>
                  <% end %>
              <% end %>
              <li class="dropdown">
                <a href="#" class="dropdown-toggle admin-nav-dropdown" data-toggle="dropdown">Admin Tools<b class="caret"></b></a>
                  <ul class="dropdown-menu">
                    <li><a href="#"><%= link_to "Edit Dogs", dogs_path %></a></li>
                    <li><a href="#"><%= link_to "Edit Navigiation Items", navigation_items_path %></a></li>
                    <li><%= link_to "Edit Pages", pages_path %></li>
                    <li><%= link_to "Sign Out", destroy_user_session_path %></li>
                  </ul>
              </li>
        <% else %>
            <li class="active"><a href="#">Home</a></li>
              <%  @navigation_items = NavigationItem.all %>
                <% @navigation_items.each do |n| %>
                  <% if n.pages.count == 1 %>
                    <% page = n.pages.first %>
                    <li><%= link_to page.title, page_path(page), class: "#" %> </li>
                  <% elsif n.pages.count < 1 %>
                    <li><a href="#"><%= n.title %></a></li>
                  <% elsif n.pages.count > 1 %>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown"><%= n.title %><b class="caret"></b></a>
                      <ul class="dropdown-menu">
                        <% n.pages.each do |p| %>
                        <li><a href="#"><%= link_to p.title, page_path(p) %></a></li>
                        <% end %>
                      </ul>
                  <% end %>
              <% end %>
              <li><%= link_to "Daycare Calendar", daycare_schedule_path %></li>
            <% end %>
				</ul>
			</div>
		</div>
	</div>


<%= flash_messages %>
<%= yield %>

</body>
<nav class="navbar navbar-default navbar-fixed-bottom">
  <div class="container">
  	<ul class="nav navbar-nav navbar-right">
    	<li><a href="#">1403 Wilson Ave SW ~ Cedar Rapids, IA</a></li>
    	<li><a href="#">Google Map</a></li>
    	<li><a href="#">(319) 363-1054</a></li>
    	<li><a href="#">10 Minutes from the Eastern IA Airport</a></li>
    	<li><a href="#">Hilltop Kennels © 2016 - State Licensed and Insured</a></li>
	</ul>
  </div>
</nav>
</html>
